
// Fonts

$title-font: 'Raleway', sans-serif;
$main-font: 'Open Sans', 'Arial', sans-serif;


// Text Colors

$text: rgb(70, 70, 70);
$lighter-text: scale-color($text, $lightness: +25%);
$gray: #222222;
$footer-text: #ffffff;
$header-text: #ffffff;
$header-link: #ffffff;
$header-hover: #cccccc;
$header-icon-hover: scale-color(#555555, $lightness: +50%);
$article-title: #222222;
$sidebar-title: #555555;

$link: #7318f0;
$link-hover: #1345b2;

$sidebar-link: #0280e0;
$sidebar-hover: #7318f0;


// Background Colors

$background: rgb(255, 255, 255);
$box-background: #ffffff;
$code-background: #ffffff;

$header-bg-1: #3612a1; // left side
$header-bg-2: #0280e0; // right side


// Spacing

$page-side-margin: 45px;
$box-margin: 45px;
$small-screen-margin: 20px;
$main-column-padding: 45px;
$side-column-padding: 45px;


// Sizing

$page-max-width: 1200px;